html
    head
        title=title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles.css")
    body
        .wrapper
            h1='Hello'
            .chat-list
                ul
            .chat-form
                input(type="text", placeholder="enter message", class="input is-success")
